@model TezYonetimS.Models.TezOlusturModel



<div class="modal-content">
    <div class="modal-header">



        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Yeni Toplantı</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Toplantı Adı:</label>
                <input type="text" id="toplantiadi" class="form-control" autocomplete="off">
            </div>



            <div class="form-group">
                <label class="control-label col-md-2" for="CreatedOn">Tarih:</label>
                <div class="col-md-10">
                    <input style="width:45%" class="text-box single-line" data-val="true" autocomplete="off" id="tarih" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="CreatedOn" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="CreatedOn">Saat:</label>
                <div class="col-md-10">
                    <input style="width:45%" class="text-box single-line" data-val="true" autocomplete="off" id="saat" type="time" value="" />
                    <span class="field-validation-valid" data-valmsg-for="CreatedOn" data-valmsg-replace="true"></span>
                </div>
            </div>






        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" id="olusturToplanti" class="btn btn-success">Oluştur</button>
    </div>
</div>






<script type="text/javascript">
    $(function () {
        $.datepicker.regional["tr"];
        $('#tarih').datepicker({
            minDate: 'today',
        });



    })
    $(document).ready(function () {
        let activeTab = location.hash;
        $("[href='" + activeTab + "']").trigger("click");
    });
    $("#olusturToplanti").click(function () {



        let id = $("#tezId").val();
        let toplantiadi = $("#toplantiadi").val();
        let tarih = $("#tarih").val();
        let saat = $("#saat").val();



        $.ajax({
            url: "/Danisman/YeniToplanti?Id=" + id + "&toplantiadi=" + toplantiadi + "&tarih=" + tarih + "&saat=" + saat,
            method: "GET",
            success: function (response) {
                let href = "/Danisman/DevamEdenTezDetay/" + id + "?#menu3";



                if (location.pathname + "?" + location.hash == href) {
                    window.location.reload();
                }
                else {
                    $(location).attr('href', href);
                }



            },
            error: function (response) {



            }
        });



    });



    $(document).ready(function () {
        let menuId = location.hash;
        if (location.hash.substr(1, 4) == "menu") {
            let $targetButton = $("[href='" + menuId + "']").parent();
            let $targetContent = $(menuId);



            $targetButton.siblings().removeClass("active");
            $targetButton.addClass("active");



            $targetContent.siblings().removeClass("active show in");
            $targetContent.addClass("active show in");
        }
    });
</script>